#home {
    margin-top: calc(30vh/3) !important;
    width: fit-content;
    overflow: hidden;
}

.profile img {
    width: 70%;
    height: 70%;
    margin: 2rem;
    border-radius: 50%;
    box-shadow: 40px 20px 71px -18px #000000;
}

.hey {
    font-size: 4rem;
    font-weight: 600;
}

.name {
    font-size: 6.25rem;
    font-weight: 700;
    color: #5A7D7C;
}

.desc {
    font-size: 1.5rem;
}

.home-contact {
    font-size: 1.5rem;
    font-weight: 500;
}

.home-contact>span {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn-talk {
    background-color: #5A7D7C;
    font-size: 1.5rem;
    font-weight: 500;
    width: 230px;
    height: 60px;
    border: 0;
    padding: 0.5rem;
    color: #fff;
    border-radius: 30px;
}

.download-button {
    margin-top: 5rem;
}

.details .fa-solid {
    margin: 0 0.5rem;
    color: #5A7D7C;
}

.details a {
    text-decoration: none;
}

.fa-arrow-right {
    color: #000000 !important;
}

.btn-download {
    background-color: transparent;
    border: 2px solid #5A7D7C;
    width: 300px;
    padding: 1rem;
    border-radius: 30px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-size: 4rem;
    margin-top: 5rem;
}

.social a {
    color: #5A7D7C;
    transition: all 0.5s ease;
}

.social .linkedin a:hover {
    color: #0A66C2;
}

.social .github a:hover {
    color: #191A1C;
}

.social .twitter a:hover {
    color: #2A9EF0;
}

.social .instagram a:hover {
    color: #D44D80;
}


@media(max-width:550px) {

    .hey,
    .name {
        font-size: 2.5rem;
    }
}

@media((max-width:1400px) and (min-width:550px)) {

    .hey,
    .name {
        font-size: 4rem;
    }
}



@media(max-width:997px) {

    .profile img {
        width: 40%;
        margin: 0;
    }

    .download-button {
        margin-top: 1rem;
        margin-bottom: 0;
    }

    .social {
        margin-top: 1rem;
        font-size: 3rem;
        gap: 2rem;
    }
}