.project-card {
    width: 500px;
    height: 320px;
    background-color: #222438;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.project-card img {
    width: 100%;
    height: calc(100%/2.25);
    border-radius: 30px 0 30px 0;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}

.project-card a {
    text-decoration: none;
}

.project-card:hover {
    transform: scale(102%);
    box-shadow: 5px 20px 77px -35px #000000;
}

.project-card img:hover {
    filter: grayscale(0%);
}

.view-button {
    width: auto;
    height: 30px;
    background-color: #090B1A;
    border: none;
    border-radius: 0 0 30px 0;
    color: #fff;
    padding: 4px 20px;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.view-button:hover {
    background-color: #5A7D7C;
}